* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(207, 232, 238, 0.973);
}

.main .side_navbar {
    width: 12%;
    height: 100%;
    padding: 0px 10px;
    font-family: calibri;
}

.main .side_navbar .nav_links {
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    border-left: 10px solid rgb(103, 166, 218);
    border-right: 10px solid rgb(103, 166, 218);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.link {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg, rgb(65, 67, 190), rgb(95, 244, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link i {
    font-size: 40px;
}

.input {
    width: 80%;
    padding: 5px 10px;
    line-height: 30px;
    font-size: 18px;
    /* border: 1px solid rgba(14, 0, 31, 0.541); */
    background: rgb(229, 231, 233);
    border-radius: 5px;
    outline: none;
}


.color-btn {
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.rainbow-btn {
    padding: 20px 18px;
    border-radius: 50%;
    background: conic-gradient(violet, blue, green, yellow, orange, red);
    outline: none;
}


.main .center {
    width: 43%;
    height: 100%;
    padding: 0px 30px;
    font-family: calibri;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main .center .top {
    width: 100%;
    height: 13%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 99;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.main .center .writing {
    width: 100%;
    height: 100%;
    display: block;
    margin: 20px 0px;
}

.accordian {
    width: 100%;
    height: 55px;
    overflow: hidden;
    transition: heigth 1s ease-in-out;
}

.click_accordian {
    position: relative;
    width: 100%;
    height: 45px;
}

.click_accordian i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.active-accordian {
    height: auto;
}


.main .center .writing .personal_datail {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 20px;
}

.main .center .writing .date {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 20px;
}

.main .center .writing .recipient_details {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 20px;
}

.main .center .writing .body {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 20px;
}

.main .center .customize_feild {
    width: 100%;
    height: 100%;
    display: none;
}

.main .center .customize_feild .layout {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .layout .top-btn {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: linear-gradient(to right, rgb(100, 142, 221) 50%, white 50%);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transform: rotate(90deg);
}

.main .center .customize_feild .layout .left-btn {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: linear-gradient(to right, rgb(100, 142, 221) 50%, white 50%);
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.main .center .customize_feild .layout .right-btn {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: linear-gradient(to right, white 50%, rgb(100, 142, 221) 50%);
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.main .center .customize_feild .color {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .header {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .name {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild #creativeFonts {
    display: none;
}

.main .center .customize_feild .job-title {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .photo {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .spacing {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .font {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .regional {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .declaration {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .right {
    width: 45%;
    height: 100%;
    padding: 0px 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#a4page {
    background-color: white;
    margin: 0;
    aspect-ratio: 210/297;
    cursor: pointer;
    font-family: calibri;
    position: relative;
}

#modalContent {
    background-color: white;
    margin: 0;
    aspect-ratio: 210/297;
    cursor: pointer;
    font-family: calibri;
    position: relative;
}

#border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    background: transparent
}

#a4left {
    padding: 20px 20px 0px 20px;
}

#header {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightblue; */
}

#user_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(131, 58, 58); */
}

#user_detail #name {
    font-size: 30px;
    font-weight: 800;
    /* font-family: Vollkorn; */
}

#user_detail #position {
    font-size: 17px;
    font-weight: 400;
}

#header #profile {
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 10px 10px;
}

#header #profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    border: 1px solid rgb(129, 129, 129);
}

#user_detail #details {
    margin-top: 5px;
    width: 100%;
    /* border: 1px solid rgb(153, 0, 0); */
    display: flex;
    gap: 10px;
    flex-direction: none;
    flex-wrap: wrap;
}

#a4right {
    padding: 0px 20px 20px 20px;
}

#date {
    width: 100%;
    text-align: right;
    /* border: 1px solid rgb(92, 99, 1); */
}

#recipientDetails {
    width: 100%;
    /* border: 1px solid rgb(0, 165, 0); */
}

#content {
    width: 100%;
    text-align: justify;
    /* border: 1px solid rgb(0, 114, 143); */
}

#signDiv {
    width: 100%;
    display: flex;
    justify-content: end;
    /* border: 1px solid rgb(0, 165, 0); */
}

#signDiv #sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    /* border: 1px solid black; */
}