* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: calibri;
}

.main {
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(235, 232, 224, 0.973);
}

.main .side_navbar {
    width: 12%;
    height: 100%;
    padding: 0px 10px;
}

.main .side_navbar .nav_links {
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.link {
    border: 1px solid black;
    width: 100px;
    line-height: 30px;
    text-align: center;
}

.main .center {
    width: 43%;
    height: 100%;
    padding: 0px 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main .center .top {
    width: 100%;
    height: 20%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 99;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .center .writing {
    width: 100%;
    height: 100%;
    display: block;
}


.main .center .writing .personal_datail {
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .writing .date {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .writing .recipient_details {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .writing .body {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild {
    width: 100%;
    height: 100%;
    display: none;
}

.main .center .customize_feild .layout {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .color {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .header {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .name {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .center .customize_feild .job-title {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}

.main .right {
    width: 45%;
    height: 100%;
    padding: 0px 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main .right .a4page {
    max-width: 100%;
    aspect-ratio: 210/297;
    margin: auto;
    box-shadow: 2px 2px 7px rgba(180, 180, 180, 0.863);
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    padding: 20px;
    font-family: calibri;
}

.main .right .a4page .header {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .right .a4page .header .user_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .right .a4page .header .user_detail #name {
    font-size: 30px;
    font-weight: 800;
}

.main .right .a4page .header .user_detail #position {
    font-size: 18px;
    font-weight: 400;
}

.main .right .a4page .header .profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(173, 0, 173);
    margin: 10px 10px;
}

.main .right .a4page .header .user_detail .links {
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(153, 0, 0);
    display: flex;
    gap: 10px;
    flex-direction: none;
    flex-wrap: wrap;
}

.main .right .a4page .date {
    width: 100%;
    border: 1px solid black;
    text-align: right;
}

.main .right .a4page .recipientDetails {
    width: 100%;
    border: 1px solid rgb(0, 165, 0);
}

.main .right .a4page .content {
    width: 100%;
    border: 1px solid rgb(0, 114, 143);
}

.main .right .a4page .Sincerely {
    width: 100%;
    border: 1px solid black;
}